---
import Section from "@/components/Section.astro";
import GitHub from "@/icons/GitHub.astro";
import Java from "@/icons/Java.astro";
import Mysql from "@/icons/Mysql.astro";
import Css from "@/icons/css.astro";
import Git from "@/icons/git.astro";
import Html from "@/icons/html.astro";
import Javascript from "@/icons/javascript.astro";
import Mongodb from "@/icons/mongodb.astro";
import Node from "@/icons/node.astro";
import React from "@/icons/react.astro";
import Sql from "@/icons/sql.astro";
import { skills } from "@cv";

const SKILLS_ICONS: Record<string, any> = {
  Html,
  Css,
  Javascript,
  React,
  Node,
  GitHub,
  Sql,
  Java,
  Mysql,
  Git,
  Mongodb,
};
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <>
            <li>
              {Icon && <Icon />} <span>{name}</span>
            </li>
          </>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
